.bookBtnBox {
  display: flex;
  justify-content: center;
  margin: 120px 0;
}

.bookBtn {
  background-color: #4FC4F6;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
}

.bookBtn:hover {
  opacity: 0.8;
  transition: all 0.3s ease;
}
