

.checkPriceWrapper {
    display: flex;
    > div {
        height: auto;
        width: 400px;
        text-align: center;
        background: white;
        padding: 20px;
        h4 {
            margin-bottom: 0;
            font-size: 25px;
        }
        input.quantity {
            border: 1px solid #44292966;
        }
        p {
            font-size: 14px;
        }
    }
}

#checkPriceWrapper > div:nth-child(1) {
    left: 0;
  }
  
  #checkPriceWrapper > div:nth-child(3) {
    right: 0;
  }

  
  