$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.12);

.cruise-name-component {
  margin-left: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 80vw;
  padding-top: 30px;
  box-shadow: $--box-shadow;
}

.cruise-name, .cruise-date, .cruise-type {
  font-weight: 500;
  margin-top: 0;
  font-size: 20px;
  margin-left: 20px;
  line-height: 1.5;
}

.cruise-name-box, .cruise-date-box, .cruise-type-box {
  display: flex;
}

.cruise-name-box img, .cruise-date-box img, .cruise-type-box img {
  width: 27px;
  height: 20px;
  margin-top: 5px;
}

.far {
  font-size: 30px;
}

@media only screen and (max-width: 767px) {
.cruise-name-box {
  width: 100%;
}
.cruise-name-component {
  margin-left: 0;
  margin-bottom: 20px;
  }
}
