.main {
  text-align: center;
  // height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 200px;
  margin-top: -100px;
}

.wrapper {
  position: relative;
  height: 200px;
}

.highlightsMenu {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 500;
}

.higlightsMenuTags {
  margin-right: 20px;
  cursor: pointer;
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;

}

.higlightsMenuTagsActive {
  margin-right: 20px;
  cursor: pointer;
  opacity: 1.0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  color: #114173;
}

.higlightsMenuTags:hover {
  opacity: 0.7;
  transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.title {
  font-size: 42px;
}


.image-container {
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%
}

.blockLeft {
  display: block;
  height: 220px;
  width: 50px;
  position: absolute;
  left: 0;
  z-index: 999;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,0) 100%);
}

.blockRight {
  display: block;
  height: 220px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.75) 50%, rgba(255,255,255,1) 100%);
}

.image-container::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.prev, .next {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 9999;
}

.next {
  top: calc(50% - 25px);
  right: 80px;
}

.prev {
  top: calc(50% - 25px);
  left: 80px;
}
