$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);
#maps {
    padding-top: 200px;
    width: 100%;
    height: 300px;
    text-align: center;
}

.navBar {
    padding: 10px;
    background: white;
    box-shadow: $--box-shadow;
    top: 0;
    position: sticky;
    display: block;
    position: -webkit-sticky;
    z-index: 10000;
}

.navBar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 5px;
    padding-left: 0;
    li {
        padding: 10px;
    }
    a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        opacity: 0.85;
        color: #333333;
    }
    a:hover {
        opacity: 1;
    }
}

.book {
    border-radius: 10px;
    background-color: #09874d;
    transition: all 0.5s;
}

li.book a {
    color: white !important;
    opacity: 1;
}

li.book:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 484px) {
    .navBar {
        padding-bottom: 5px;
    }

    .navBar ul {
        padding-top: 7px;
    }

    .navBar ul a {
        font-size: 15px;
    }
}
