$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);

html {
  scroll-behavior: smooth;
}

#maps {
  padding-top: 200px;
  width: 100%;
  height: 300px;
  text-align: center;
}

.navBar {
  padding: 10px;
  background: white;
  box-shadow: $--box-shadow;
  scroll-behavior: smooth;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.navBar ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 5px;
  padding-left: 0;

  li {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: #114173;
    font-weight: 500;
    font-size: 18px;
  }

  a:hover {
    opacity: 0.8;
  }
}

.book {
  border-radius: 10px;
  background-color: #4FC4F6;
  transition: all 0.5s;

}

li.book a {
    color: white!important;
}

li.book:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}
