#accordion{
   margin-top: 15px;
}

.tab{
  border-bottom: 1px solid #f5f3f3;
  padding-bottom: 20px;


  .title {
    display:flex;
    padding: 25px;
    cursor: pointer;
    position: relative;
    font-size: 17px;
    margin-bottom: -1px;
    text-align: left;
    justify-content: space-between;
    font-weight: 500;
    color: #4b6177;
  }


  .content{
    max-height: 100%;
    margin: 0;
    padding-left: 40px;
    border-top: 0;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: justify;
    font-size: 15px;
    width: 90%;
  }
}


.show {
  display: block;

}

.hide{
  display: none;
}

i.fas.fa-plus {
  margin-left: 20px;
}


@media only screen and (max-width: 767px) {
  .tab .title {
    padding: 25px 0;
}

.tab .content {
  padding-left: 10px;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1.25px;
}
}
