$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);

.paymentComponent {
  margin: 0 auto;
  width: 90%;
  padding-top: 100px;
  max-height: 900px;

  h3 {
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

.paymentContent {
  display: flex;
  justify-content:  space-between;
  margin-top: 40px;

}

.paymentContent > div {
  width: 45%;
  padding: 20px;
}

.paymentContent .accordionWrapper {
  padding: 0;
  height: auto;
  min-height: 100%;
}

.chartBox {
  box-shadow: $--box-shadow;
  border-radius: 10px;
}


@media only screen and (max-width: 1250px) {
  .paymentComponent {
    flex-direction: column;
    margin-top: 40px;
    max-height: 1200px;
  }

  .paymentContent {
    flex-direction: column;
    height: auto;
    width: 480px;
    max-width: 90vw;
    margin: auto;
    margin-top: 40px;
  }

  .paymentContent > div{
    width: auto;
    padding: 20px 0;
  }

  .paymentComponent {
    width: 90%;
  }

  .accordionWrapper {
    margin-top: 20px;
  }

}

@media only screen and (max-width: 1000px) {
  .paymentComponent {
    flex-direction: column;
    margin-top: 40px;
    max-height: 1100px;
  }
}

@media only screen and (max-width: 484px) {
    .paymentComponent {
      max-height: 1400px;
}
}
