$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.12);

.paymentComponent {
    margin: 100px auto;

  h3 {
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

.paymentContent {
  display: flex;
  justify-content: space-evenly;
  height: 350px;
}

.paymentContent > div {
  width: 40%;
  padding: 20px;
}

.paymentContent > div:last-Child {
  padding: 0;
  width: 50%;
}

.chartBox {
box-shadow: $--box-shadow;
border-radius: 10px;
}


@media only screen and (max-width: 767px) {
  .paymentContent {
    flex-direction: column;
  }

  .paymentContent {
    height: auto;
  }


  .paymentContent > div{
    width: auto;
    padding: 20px 0;
  }

  .paymentContent > div:last-Child {
    width: auto;
  }

  .paymentComponent {
    width: 90%;
  }

}
