.popover {
  padding-top: 50px;
  width: 100%;
}

.popover-container {
  justify-content: center;
  text-align: center;
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.choose {
  position: absolute;
  z-index: 9999;
  cursor: pointer;
  height: 30px;
  a {
    text-decoration: none;
    color: #333333;
  }
}

.infoContent #bookOptions > div.titleReservations {
  display: none;
}
