$--font-primary: sofia-pro, sans-serif;
$--font-weight-n: normal;
$--font-color: hsl(0, 0%, 20%);
$--font-style-n: normal;
$--font-family-p: Poppins,sans-serif;
$--font-size-p: 16px;
$--margin-rwd: 0 40px 50px;
$--line-height-text: 1.8;
$--text-align-l: left;



.short-info-component {
  margin-left: 50px;
  width: 70%;
  margin-bottom: 50px;
  margin-top: 40px;
  color: $--font-color;
}

.short-info-box {}

.short-info-text {
  font-family: $--font-family-p;
  line-height: $--line-height-text;
  text-align: $--text-align-l;
  font-size: $--font-size-p;
}

@media only screen and (max-width: 767px) {
  .short-info-component {
    margin: $--margin-rwd;
  }
}
