$--font-weight-n: normal;
$--font-color: hsl(0, 0%, 20%);
$--font-style-n: normal;
$--font-family-p: Poppins,sans-serif;
$--font-size-p: 16px;
$--font-size-h2: 20px;
$--margin-rwd: 0 40px 50px;
$--line-height-text: 1.8;
$--text-align-l: left;
$--text-justify: justify;


.short-info-component {
  margin-left: 50px;
  width: 90%;
  margin-bottom: 50px;
  margin-top: 40px;
  color: $--font-color;
}

.short-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.short-info-box {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 60%;

}

.short-info-box h2 {
  font-size: $--font-size-h2;
}

.travel-info-title {
  padding-left: 20px;
  margin-bottom: 0;
}

.short-info-text {
  font-family: $--font-family-p;
  line-height: $--line-height-text;
  text-align: $--text-justify;
  font-size: $--font-size-p;
}

@media only screen and (max-width: 767px) {
  .short-info-component {
    width: 100%;
    margin-left: 0;
  }

  .short-info-box {
    padding: 0;

  }

  .short-info {
    flex-direction: column;

  }

  .short-info-text {
    text-align: $--text-align-l;
    padding: 25px;
  }

  .short-info-box {
    width: 100%;
  }

  .short-info-box h2 {
    padding-left: 25px;
  }

}
