$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.12);

.tagBox {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 25px;
}

.singleTag {
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: $--box-shadow;
}

.singleTag .fa,.singleTag .fas {
  font-size: 30px;
  margin-right: 10px;
}

.singleTag img {
  height: 35px;
  margin-right: 20px;
}

.tagText, .tagTitle {
  font-size: 15px;
  line-height: 1.5;
  margin: 0 10px;
  text-align: left;
}

.tagTitle {
  font-weight: 600;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .tagBox {
    flex-direction: column;
  }

  .singleTag {
    width: auto;
  }

}
