$--font-color: hsl(0, 0%, 20%);
$--font-family-p: Poppins,sans-serif;
$--font-size-tag: 15px;
$--line-height-tag: 1.5;
$--text-align-l: left;


.tag-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.single-tag {
  display: flex;
  margin-bottom: 20px;
  width: 200px;
  max-width: 90vw;
}

.single-tag img {
 width: 40px;
 height: 40px;
 margin-right: 10px;
}

.single-tag .tag-text {
  font-size: $--font-size-tag;
  line-height: $--line-height-tag;
  margin: 0 10px;
  text-align: $--text-align-l;
  color: $--font-color;
  font-family: $--font-family-p;
}


@media only screen and (max-width: 767px) {
  .single-tag {
    width: 100%;
  }
}
