$--box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);

.tagBoxTravel {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-right: 10px;
}

.singleTagTravel {
  display: flex;
  margin-bottom: 20px;
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 30px;
  box-shadow: $--box-shadow;
}

.singleTagTravel .fa,.singleTagTravel .fas {
  font-size: 30px;
  padding: 10px;
}

.singleTagTravel img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .singleTagTravel {
    width: auto;
    margin-right: 0;
  }

  .tagBoxTravel {
    flex-direction: column;
  }
}
